.clinic-more{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dde7f5;
    .clinic-more-container{
        display:flex;
        flex-direction: column;
        width: 1320px;
        margin: 50px 100px;
        gap: 40px;
        .header{ 
            padding: 0 0 30px 0;
            border-bottom: 2px solid #0a234e40;
            b {
                font-family: "Lexend Deca", sans-serif;
                color:var(--color-steelblue);
                font-size: 45px;
                font-weight: 700;
            }
        }
        .list{
            width: 100%;
            // margin: 0 30px;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            min-height: 270px ;
        }
        .pagination-custom{
            .page-numbers{
                list-style-type: none;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 15px;
                li {
                    font-family: "Lexend Deca", sans-serif;
                    font-size: 25px;
                    cursor: pointer;
                }
                .active {
                    color: var(--color-steelblue);
                }
            }
        }
    }
}