.verify-email-container {

    .info-booking {
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        color: red;
        margin-top: 30px;
        text-transform: uppercase;
    }
}