// reset slick slider scss
.slick-prev {
    border: 1px solid red !important;
    left: -15px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background-color: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background-color: #d7d7d7 !important;
    }
}

.slick-disabled {
    display: none !important;
}

.slick-prev::before,
.slick-next::before {
    color: green !important;
    opacity: 0.6 !important;
}

.slick-next {
    border: 1px solid red !important;
    right: -15px !important;
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background-color: #fff !important;
    border: 2px solid #d7d7d7 !important;

    &:hover {
        background-color: #d7d7d7 !important;
    }
}

.section-share {
    &.section-specialty {
        background-color: #f5f5f5;
    }

    &.section-outstanding-doctor {
        background-color: #f5f5f5;
    }

    &.section-about {
        border-top: 1px solid;
        border-bottom: 1px solid;
        height: 500px !important;
        padding: 0 100px;

        .section-about-header {
            padding: 20px 10px;
            font-size: 25px;
            font-weight: 600;
        }

        .section-about-content {
            width: 100%;
            display: flex;
            gap: 15px;

            .content-left {
                width: 60%;
            }

            .content-right {
                width: 40%;

                p {
                    text-align: justify;
                    font-style: italic;
                    padding: 15px;
                }
            }
        }
    }

    .section-body {

        .section-customize {

            .bg-img {
                width: 278px;
                height: 150px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: #eee;
                margin-bottom: 8px;

                &.section-specialty {
                    // background-image: url('../../assets/specialty/than-kinh.jpg');
                }

                &.section-medical-facility {
                    // background-image: url('../../assets/medical-facility/160340-logo-diag.png');
                }

                &.section-outstanding-doctor {
                    // background-image: url('../../assets/outstanding-doctor/anh-dai-dien-bs.jpg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }

                &.section-handbook {
                    background-image: url('../../assets/handbook/viem-loet-da-day-co-tu-khoi-duoc-khong.png');
                }


            }
        }
    }
}

.section-outstanding-doctor {
    .outer-bg {
        display: flex;
        justify-content: center;
    }

    .section-customize {
        padding: 5px;
        cursor: pointer;

        .customize-border {
            border: 1px solid orange;
            padding: 20px;
        }
    }
}

.section-share {
    height: 330px;

    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            padding-top: 30px;
            margin-bottom: 30px;

            .title-section {
                font-size: 22px;
                font-weight: 600;
            }

            .btn-section {
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;
                display: block;
                background-color: #ebebeb;
                color: black;
                cursor: pointer;
                text-transform: uppercase;

                &:hover {
                    color: #fff;
                    background-color: #f7d800;
                }
            }
        }
    }
}

.home-footer {
    text-align: center;
    padding-top: 10px;

    a {
        text-decoration: none;
    }
}